<html>
<title>Login and Registration</title>
<link rel="stylesheet" href="../style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Inter:wght@300&display=swap" rel="stylesheet">

<body style="font-family: 'Inter', sans-serif">
  <nav style="background-color:orange;" class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2 style='font-family: " Chivo Mono", monospace'>MFA Demo</h2>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 thumbnail text-center">
      <h2 style='font-family: " Chivo Mono", monospace'>MFA</h2>
      <img src="<%= qrc %>" height="200px" width="200px" />
      <form action="/token" method="POST">
        <br /><br />
        <input type="text" id="email" name="email" placeholder="email" />
        <br /><br />
        <input type="password" id="password" name="password" placeholder="password" />
        <br /><br />
        <input type="password" id="totp" name="totp" placeholder="time token" />
        <br /><br />
        <input type="submit" name="submit" value="submit" />
        <br /><br />
      </form>
    </div>

    <div class="col-md-4"></div>
  </div>
</body>

</html>